@model CreateStudentDto

@{
    ViewData["Title"] = "CreateStudent";
    Layout = "~/Areas/Director/Views/DirectorLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Öğrenci Ekleme Sayfası</h4>
                <p>Öğrenci ekleme işlemleri aşağıdaki panel üzerinden gerçekleştirebilirsiniz.</p>
                <div class="bs-example" data-example-id="bordered-table">

                    <form method="post">
                        <label>Öğrenci Adı</label>
                        <input type="text" class="form-control" asp-for="FirstName" />
                        <label>Öğretmen Soyadı</label>
                        <input type="text" class="form-control" asp-for="LastName" />
                        <label>Öğretmen E-Mail Adresi</label>
                        <input type="text" class="form-control" asp-for="Email" />
                        <label>Sınıf ID</label>
                        <input type="text" class="form-control" asp-for="ClassId" />
                        <br />
                        <button class="btn btn-primary">Öğrenci Ekle</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>


