@model UpdateExamDto
@{
    ViewData["Title"] = "UpdateExam";
    Layout = "~/Areas/Teacher/Views/TeacherLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Sınav Güncelleme Sayfası</h4>
                <p>Sınav güncelleme işlemini aşağıdaki panel üzerinden gerçekleştirebilirsiniz.</p>
                <div class="bs-example" data-example-id="bordered-table">

                    <form method="post">
                        <input type="hidden" asp-for="ExamId" />

                        <label>Sınav Konusu</label>
                        <input type="text" class="form-control" asp-for="Title" />

                        <label>Ders ID</label>
                        <input type="text" class="form-control" asp-for="LessonId" />
                        <br />
                        <button class="btn btn-primary">Sınav Güncelle</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>

