@model UpdateLessonDto
@{
    ViewData["Title"] = "UpdateLesson";
    Layout = "~/Areas/Director/Views/DirectorLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Ders Güncelleme Sayfası</h4>
                <p>Ders güncelleme işlemini aşağıdaki panel üzerinden gerçekleştirebilirsiniz.</p>
                <div class="bs-example" data-example-id="bordered-table">

                    <form method="post">
                        <input type="hidden" asp-for="LessonId" />
                      
                        <label>Ders Adı</label>
                        <input type="text" class="form-control" asp-for="LessonName" />
                        <label>Sınıf ID</label>
                        <input type="text" class="form-control" asp-for="ClassId" />
                        
                        <br />
                        <button class="btn btn-primary">Ders Güncelle</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>

